@model List<Punktik3.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}
<h1 align=center>ASP.NET</h1>
<h2 align=center>Таблица Travel</h2>
<body style="background-color:green">

</body>

<table align="center" border="2" bordercolor="Purple" BGColor="red">
    <thead>
        <tr>
            <th style="color:aqua">Фамилия</th>
            <th style="color:aqua">Телефон</th>
            <th style="color:aqua">Дата отправки</th>
            <th style="color:aqua">Цена</th>
            <th style="color:aqua">Путь</th>

            
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.LASTNAME</td>
                <td>@employee.PHONE</td>
                <td>@employee.DEPARTURE</td>
                <td>@employee.Cost</td>
                <td>@employee.TravelPlan</td>
               
            </tr>
        }
    </tbody>
</table>