@model List<Punktik3.Models.Wages>

@{
    ViewData["Title"] = "Wages";
}
<h1 align=center>ASP.NET</h1>
<h2 align=center>Таблица Travel</h2>
<body style="background-color:orange">

</body>

<table align="center" border="2" bordercolor="Purple" BGColor="#a9a9a9">
    <thead>
        <tr>
            <th style="color:black">Имя</th>
            <th style="color:black">Дата проверки</th>
            <th style="color:black">Рейтинг оплаты</th>
            <th style="color:black">Выплата</th>
            <th style="color:black">Федеральный налог</th>

            
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td style="text-align: left">@employee.Name</td>
                <td style="text-align: center">@employee.Check_Date</td>
                <td style="text-align: right">@employee.Pay_Rate</td>
                <td style="text-align: right">@employee.Net_Pay</td>
                <td style="text-align: right">@employee.Fica</td>
               
            </tr>
        }
    </tbody>
</table>